@font-face {
    font-family:"Allesa";
    src: url("/fonts/AllessaPersonalUse-4pRl.ttf") format("truetype");
  }
  .shading {
    background: linear-gradient(to bottom,#243447  0%,  #c51f5d 100%);
}
.shadingFooter {
  background: linear-gradient(to bottom,  #c51f5d 0%, #243447  100%);
}

.navStyle{
 text-decoration:  #c51f5d;
 
}
.navStyle:hover {
  background: #243447;
  display: block;
  left: 40px;
 
}

.social:hover {
  transform: scale(1.5);
}
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: linear-gradient(to bottom,  #c51f5d 0%, #243447  100%);
  color: rgb(224, 199, 199);
  font-size: 20px;
  padding: 12px 24px;
  border:none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: #243447;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: rgb(139, 8, 96);

}
b {
  color: #ffffff;

}

p3 {
   
  font-family: Georgia, serif;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p1 { 
  font-size: 18px;
  display: block;
}

/* Dropdown Button */
.droptxt {
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.CreativeWork {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.Creative-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.Creative-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.Creative-content a:hover {background-color: rgb(202, 44, 105);}

/* Show the dropdown menu on hover */
.CreativeWork:hover .Creative-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.CreativeWork:hover .droptxt {background-color: #243447;}




